<!DOCTYPE html>
<html>
  <head>
    <title>PowerWashBrothers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrep link to a css file with  pre config styles-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"     
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
    <style>
      #homepage_banner
      {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <p></p>
      <h1 class="text-center">Power Wash Brothers</h1>
      <p></p>
      <img class="img-fluid" id="homepage_banner" src="static/homepagebanner.jpg" alt="Power Wash Brothers Banner">
      <p></p>
      <h2 class="text-center" style="margin-bottom: 30px;margin-top: 30px;">Who We Are?</h2>
      <p class="lead">We are a team led by two brothers, united not only by family ties but also by our shared passion 
        and extensive experience in the industry. With a combined experience of over 10 years, we have honed our skills 
        to provide top-notch services. Our journey began with a simple mission: to deliver quality and excellence in 
        every project we undertake. Today, we continue to uphold these values, ensuring that each client receives the 
        personalized attention and professional service they deserve.</p>
      <h2 class="text-center" style="margin-bottom: 60px;margin-top: 30px;">Current Services</h2>
        <div>
          {% for service in services %}
             {% include 'services.html' %} 
          {% endfor %}
        </div>
      <h2 class="text-center">Any more questions? We're here to help!</h2>
      <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
        <button class="btn btn-primary">Contact Us!</button>  
      </div>
      <hr>
        <p style=text-align:center>© 2024  Power Wash Brothers. All rights reserved.</p> 
      </div>
    </div>
  </body>                                
</html>