<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Form</title>
    <!-- validation JavaScript for the user side -->
    <script>
        function validateForm() {
            var fullName = document.getElementById("fullName").value;
            var email = document.getElementById("email").value;
            var tel = document.getElementById("tel").value;
            var serviceType = document.getElementById("serviceType").value;
            var workObjectDetails = document.getElementById("workObjectDetails").value;

            if (!fullName || !email || !serviceType || !workObjectDetails) {
                alert("Please fill out all required fields.");
                return false;
            }

            if (!validateEmail(email)) {
                alert("Please enter a valid email address.");
                return false;
            }

            if (tel && !validatePhone(tel)) {
                alert("Please enter a valid phone number.");
                return false;
            }

            return true;
        }

        function validateEmail(email) {
            var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return re.test(email);
        }

        function validatePhone(phone) {
            var re = /^\+?\d{4,13}$/;
              return re.test(phone);
        }

        // reCAPTCHA callback 
        function onSubmit(token) {
            document.getElementById("orderForm").submit();
        }
    </script>
</head>
<body>
    <div class="container mt-5 lead">
        <form id="orderForm" action="/service/{{ service['id'] }}/order" method="POST" onsubmit="return validateForm()">
            <div class="mb-3">
                <label for="fullName" class="form-label">Full Name:</label>
                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Bob Robertson" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="youremail@lalala.de" required>
            </div>
            <div class="mb-3">
                <label for="tel" class="form-label">Tel: (optional)</label>
                <input type="tel" class="form-control" id="tel" name="tel" placeholder="+4 444 444 444">
            </div>
            <div class="mb-3">
                <label for="serviceType" class="form-label">Service Type:</label>
                <input type="text" class="form-control" id="serviceType" name="serviceType" value="{{ service['title'] }}" required>
            </div>
            <div class="mb-3">
                <label for="workObjectDetails" class="form-label">Work Object Details:</label>
                <textarea class="form-control" id="workObjectDetails" name="workObjectDetails" rows="3" placeholder="Provide details about the work object, e.g., 50m² material etc." required></textarea>
            </div>
            <div class="mb-3">
                <label for="remark" class="form-label">Your Remark: (optional)</label>
                <textarea class="form-control" id="remark" name="remark" rows="3" placeholder="Enter any additional remarks"></textarea>
            </div>
            <button
                class="g-recaptcha btn btn-primary"
                data-sitekey="{{ config.RECAPTCHA_SITE_KEY }}"
                data-callback='onSubmit'
                data-action='submit'>
                Submit
            </button>
        </form>
    </div>

    <!-- reCAPTCHA script -->
    <script src="https://www.google.com/recaptcha/enterprise.js?render={{ config.RECAPTCHA_SITE_KEY }}"></script>
</body>
 </html>
